header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

header h1 {
  font-size: 50px;
}

header ul {
  border-width: 2px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 15px 20px;
}

header li {
  flex: 0 0 auto;
}

header li:not(:last-of-type) {
  margin-right: 15px;
}
