<!-- TODO: adjust CSS styling from tasks to flights and airports -->
<div class="flight">
  <h3>
    FLIGHT {{ flight.flightNumber }}
    <fa-icon [ngStyle]="{ color: 'purple' }" [icon]="faCoffee"></fa-icon>
  </h3>
  <!-- conditioanlly render if currently in flight, if not render left at __, arrived at__ -->
  <span>
    <p>Leaving from: {{ flight.from }} at {{ flight.departsAt }}</p>
    <p>Arriving at: {{ flight.to }} ETA: {{ flight.arrivesAt }}</p>
  </span>
  <span *ngIf="flight.longitude">
    Current Location:
    <p>{{ flight.longitude }} long</p>
    <p>{{ flight.latitude }} lat</p>
  </span>
</div>
