<div *ngIf="flight.longitude && flight.latitude" class="flight">
  <h3>
    <span
      (click)="onClickFlightDetails()"
      title="See {{ flight.flightNumber }} on the map"
      >FLIGHT {{ flight.flightNumber }}</span
    >
  </h3>

  <ul>
    <li>
      Departing from:
      <!-- TODO abstract span into seperate component -->
      <span
        (click)="onClickAirportDetails(flight.from)"
        title="See {{ flight.from }} on the map"
        >{{ flight.from }}</span
      >
      at {{ flight.departsAt }}
    </li>
    <li>
      Arriving at:
      <span
        (click)="onClickAirportDetails(flight.to)"
        title="See {{ flight.to }} on the map"
        >{{ flight.to }}</span
      >
      ETA: {{ flight.arrivesAt }}
    </li>
  </ul>
</div>
