/* TODO for future styling of the flight information component implementation */

.flight {
  background: #ffffff;
  margin: 5px;
  padding: 10px 20px;
  font-size: small;
}

.flight h3 {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flight h3 span:hover {
  cursor: pointer;
  font-style: italic;
}

.flight ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.flight li:not(:last-of-type) {
  margin-right: 15px;
}

.flight li span {
  color: #2596be;
}

.flight li span:hover {
  font-style: italic;
  cursor: pointer;
}
