<!-- TODO for later implementation to display flights where lat & long = null -->

<div *ngIf="!flight.longitude && !flight.latitude" class="flight">
  <h3>
    <span title="Flight not yet assigned"
      >FLIGHT {{ flight.flightNumber }}</span
    >
  </h3>
  <ul>
    <li>
      Departing from:
      <span>{{ flight.from }}</span>
      at {{ flight.departsAt }}
    </li>
    <li>
      Arriving at:
      <span
        (click)="onClickAirportDetails(flight.to)"
        title="See {{ flight.to }} on the map"
        >{{ flight.to }}</span
      >
      ETA: {{ flight.arrivesAt }}
    </li>
  </ul>
</div>
